{% extends "base.html" %}
{% block content %}
  <div class="media-choice text-center clearfix">
    <button class="btn btn-default active">All</button>
    <button class="btn btn-default">Comics</button>
    <button class="btn btn-default">Thoughts</button>
  </div>
  <div class="content">
    <div class="col-sm-4" id="content-col-1"></div>
    <div class="col-sm-4" id="content-col-2"></div>
    <div class="col-sm-4" id="content-col-3"></div>
  </div>
{% endblock %}

{% block jquery %}
  <script>
    $(function() {
      var source   = $("#post-template").html();
      var template = Handlebars.compile(source);
      var loading = false;
      var last_page = 0;
      var end = false;

      function loadResults() {
        if (loading || end) return;
        loading = true;
        $.getJSON( "/api/post?page=" + (last_page + 1), function( data ) {
          var cols = [$('#content-col-1'), $('#content-col-2'), $('#content-col-3')];
          end = data.next === null;
          data.results.map(function( item ) {
            var c = 0;
            var ch = null;
            for (var mc=0; mc < cols.length; mc++) {
              if (ch === null || cols[mc].height() + (mc * 40) < ch) {
                c = mc;
                ch = cols[mc].height();
              }
            }
            console.log(item.creation_date);
            item.creation_date = Date.parse(item.creation_date.split("T")[0]).toString('d MMM yyyy');
            console.log(item.creation_date);
            var post = $(template(item));
            post.find(".post-img").click(function() {
              window.location = "/post/" + $(this).data("post-id");
            });
            post.find(".like-button").click(function() {
              var button = $(this);
              var post_id = button.data("post-id");
              console.log(post_id);
              $.ajax({
                url: "/api/post/"+post_id+"/like/",
                type: "get",
                "success": function( data) {
                  console.log(data);
                  if (data.num_likes) button.text(" "+data.num_likes);
                }});
            });
            cols[c].append(post);

          });
          loading = false;
          last_page += 1;
          $(".post-img").click(function() {
            window.location = "/post/" + $(this).data("post-id");
          });


        });
      }
      loadResults();



      $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
          loadResults();
        }
      });
    });
  </script>
{% endblock %}